 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card_course{
  width: 140px;
  height: 140px;
  object-fit: cover;
  background: #fff;
}
.carousel_course .card_course{
  list-style: none;
 
  border-radius: 8px;
  height: 342px;
} 

